<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>My Site</title>
		<link rel="stylesheet" href="/public/css/main.css">
	</head>

	<body>
		<nav>
			<ul>
				<li><a href="/">Main Page</a></li>
				{{#if signedIn}}
			    	<li><a href="/account/settings">My Account</a></li>
					<li><a href="/logout">Logout</a></li>
				{{else}}
					<li><a href="/login">Login/SignUp</a></li>
				{{/if}}
			</ul>
		</nav>

		<main>
			{{{body}}}
		</main>
		<script src="../../public/js/form.js"></script>
	</body>
</html>