<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <!-- this navbar may need to be updated -->
    <nav>
        <a href="../../views/pages/homepage.handlebars">Main Page</a>
        {{#if signedOut }}
            <a href="../../views/pages/loginForm.handlebars">Login/SignUp</a>
        {{/if}}
        {{#if signedIn}}
            <a href="../../views/pages/homepage.handlebars">Logout</a>
        {{/if}}
    </nav>

    <main>
        {{#if loggedOut}}
            <p>You have successfully logged out!</p>
        {{/if}}
        {{{body}}}
    </main>
</body>

</html>