<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8" />
		<title>My Site</title>
		<link rel="stylesheet" href="/public/css/main.css" />
	</head>

	<body>
		<!-- this navbar may need to be updated -->
		<nav>
			<a href="/">Main Page</a>
            <a href="/account/settings">My Account</a>
			{{#if signedIn}}
				<a href="/logout">Logout</a>
			{{else}}
				<a href="/login">Login/SignUp</a>
			{{/if}}
		</nav>

		<main>
			{{{body}}}
		</main>
		<script src="../../public/js/form.js"></script>
	</body>
</html>