<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>My Site</title>
		<link rel="stylesheet" href="/public/css/main.css" />
	</head>

	<body>
		<nav>
			<ul class="nav">
				<li class="navlist"><a href="/">Main Page</a></li>
				{{#if signedIn}}
					<li class="navlist"><a href="/account/settings">My Account</a></li>
					<li class="navlist"><a href="/logout">Logout</a></li>
				{{else}}
					<li class="navlist"><a href="/login">Login/SignUp</a></li>
				{{/if}}
			</ul>
		</nav>

		<main>
			{{#if error}}
				<p> You must be signed in to comment on posts</p>
			{{/if}}

			{{{body}}}
		</main>
		<script src="../../public/js/form.js"></script>
	</body>
</html>