h1 {
	color: #ffffff;
}

h2 {
	color: #E8A87C;
}

body {
	background-color: #128086;
}

label {
	color: #85DCBA;
	font-size: large;
}

.error {
	color: #E27D60;
	font-size: large;
	font-weight: bolder;
}

a:link {
    color: #C7EBF0;
}
  
a:visited {
    color: #C38D9E;
}

a:hover {
    color: #BAA7B0;
}

a:active {
    color: #B2ABBF;
}

input[type=text], input[type=email], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit] {
    width: 100%;
    background-color: #C7EBF0;
    color: #000000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

button[type=submit]:hover {
    background-color: #BAA7B0;
}