<section>
    <h2>Your Resources</h2>

    <!-- maybe make these into larger buttons present on the page --> 

    <a href="./settings.handlebars">Click here to see your settings!</a>
    <!-- 
        <a href="./quiz.handlebars">Click here to access our quiz!</a>  
        <a href="./dogs.handlebars">Click here to see the dogs you posted!</a>  
            here, there will be a button to post a dog or click on specific dogs

        <a href="./app.handlebars">Click here to access your application!</a>  
            here, users will be able to see their current application or create an application
    -->

</section>