<section>
    <h2>Your Resources</h2>

    <!-- maybe make these into larger buttons present on the page --> 

    <a href="/account/settings/get">Click here to see your settings!</a> <br>
    <a href="/account/quiz">Click here to access our quiz!</a> <br>
    <a href="/account/dogs">Click here to see the dogs you posted!</a> <br>
    <a href="/account/application">Click here to access your application!</a>  

</section>