<section>
    <h1>Your Resources</h1>
    <h2>My Application Statuses</h2>
    <p>
        Pending: {{{pending}}} <br>
        Accepted: {{{accepted}}} <br>
        Rejected: {{{rejected}}} <br>
    </p>

    <h2>Links & Forms</h2>
    <a href="/account/settings/get">Click here to see your settings!</a> <br>
    <a href="/account/quiz">Click here to access our quiz!</a> <br>
    <a href="/account/dogs">Click here to see the dogs you posted!</a> <br>
    <a href="/account/application">Click here to access your application!</a>  

</section>