<section>
	<h2>My Dogs</h2>
	{{#each dogs}}
		{{#if name}}
			<article class="dog">
				<h3><a class="myDog" href="/account/dogs/{{_id}}">{{name}}</a></h3>
			</article>
		{{/if}}
	{{/each}}
	<a href="/account/dogs/add">Create Dog Post</a>
</section>