<section>
	<h1>My Dogs</h1>
	{{#each dogs}}
		<article class="dog">
			<h2><a href="/account/dogs/{{_id}}">{{name}}</a></h2>
			{{!-- <img src="{{pictures[0]}}" /> --}}
		</article>
	{{/each}}
	<a href="/account/dogs/add">Create Dog Post</a>
</section>