<!-- show all of the settings and then lead to a form to update them -->
<section>
    <h2>Your Information</h2>
        <p>Name: {{{first}}} {{{last}}}</p>
        <p>Email: {{{email}}}</p>
        <p>Age: {{{age}}}</p>

    <a href="./updateSettings.handlebars">Any wrong information? Click here to update!</a>
</section>